.center_card {
    min-width: 100%;
    text-align: center;
    margin-top: 10%;
  }
  
  .card_background {
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }